# Hide environment files
.env

# Ignore logs directory
logs/

# Ignore data directory
data/

# Ignore plugins directory
plugins/

# Ignore Spark jars
spark/jars/

# Ignore Python compiled files (__pycache__)
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore specific Python file: test_connection_dag.py
dags/modules/digitalskola_key.json
dags/modules/__pycache__

dags/datawarehouse/__pycache__/
dags/datawarehouse/.ipynb_checkpoints/
dags/datawarehouse/env/
dags/datawarehouse/Untitled.ipynb
dags/datawarehouse/config.json

.DS_Store

machine_learning/

venv/

query/

env/

datawarehouse/

.ipynb_checkpoints/

